@page "/"

@inject ITournamentService service

<center><PageTitle>Darts Toernooi</PageTitle></center>

@if(Tournament == null)
{
    <Loading Subject="Home"></Loading>
}
else
{
    <div class=img-container>
        <img src="/images/darts_banner2.jpg" class=img-banner>
        <div class=centered>
            <p class="banner-text">@Tournament.Name</p>
            <br />
            <p class="banner-text">@Date</p>
        </div>
    </div>
    <br />

    if(newPlayer == null && newReferee == null)
    {
    <div class="inline-div">
        <table class="table table-striped table-bordered floatLeft">
            <thead>
                <tr>
                    <th>Players</th>
                </tr>
            </thead>
            <tbody>
                    @if(Tournament.Players == null)
                    {
                        <tr>
                            <td colspan=2>There are no players listed in this tournament.</td>
                        </tr>
                    }
                    else
                    {
                        foreach(var player in Tournament.Players)
                        {
                            <tr>
                                <td colspan=2>@player.Name</td>
                            </tr>
                        }
                    }
                <tr>
                    <td><center><button class=button-link @onclick="AddPlayer">Add players</button></center></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered floatRight">
            <thead>
                <tr>
                    <th>Referees</th>
                </tr>
            </thead>
            <tbody>
                    @if(Tournament.Referees == null)
                    {
                        <tr>
                            <td colspan=2>There are no referees listed in this tournament.</td>
                        </tr>
                    }
                    else
                    {
                        foreach(var referee in Tournament.Referees)
                        {
                            <tr>
                                <td>@referee.Name</td>
                            </tr>
                        } 
                    }
                <tr>
                    <td><center><button class=button-link @onclick="AddReferee">Add referees</button></center></td>
                </tr>
            </tbody>
        </table>
        </div>
    }
    if(newPlayer != null)
    {
        <PlayerForm Model="newPlayer"
            OnSaveClick="AddPlayerToTournament"
            OnCancelClick="GetTournament"></PlayerForm>
    }
    if(newReferee != null)
    {
        <RefereeForm Model="newReferee"
            OnSaveClick="AddRefereeToTournament"
            OnCancelClick="GetTournament"></RefereeForm>
    }
}

@code {
    private Tournament Tournament { get; set; }
    private string Date { get; set; }
    private Player newPlayer;
    private Referee newReferee;

    protected override async Task OnInitializedAsync()
    {
        #if DEBUG
    await Task.Delay(2000);
        #endif
        await GetTournament();
    }

    public async Task GetTournament()
    {
        this.newPlayer = null;
        this.newReferee = null;

        Tournament = await service.GetByIdAsync(100);

        Date = Tournament.Date.ToString("dd/MM/yyyy");
    }

    public void AddPlayer()
    {
        this.newPlayer = new Player();
    }

    public void AddReferee()
    {
        this.newReferee = new Referee();

    }

    public async Task AddPlayerToTournament(Player player)
    {
        player.TournamentId = this.Tournament.Id;
        await service.AddPlayerToTournament(player);

        await GetTournament();
    }

    public async Task AddRefereeToTournament(Referee referee)
    {
        referee.TournamentId = this.Tournament.Id;
        await service.AddRefereeToTournament(referee);

        await GetTournament();
    }
}