 <div class=img-container>
    <img src="@ImageSrc" class=img-banner>
    <div class=centered>
        <p class="banner-text">@Model.Name</p>
        <br />
        <p class="banner-text">@Date</p>
    </div>
</div>
<br />

@code {
    [Parameter]
    public Tournament Model { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    private string Date { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await FormatDate();
    }

    private async Task FormatDate()
    {
        Date = Model.Date.ToString("dd/MM/yyyy");
        await Task.Delay(0);
    }
}
