 <div class=img-container>
    <img src="@ImageSrc" class="img-banner">
    <div class="centered">
        @if (!Model.IsActive)
        {
            <p class="banner-text">@Model.Name</p>
            <br />
            <p class="banner-text">@Model.Date.ToString("dd/MM/yyyy")</p>
        }
        else
        {
            <p class="banner-text display-1">@Model.Name</p>
        }
    </div>
</div>
<br />

@code {
    [Parameter]
    public Tournament Model { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }
}
