<br />
<div class="col-md-12 text-center">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary border-primary text-center">
                <th class="text-center">Spelers</th>
            </tr>
        </thead>
        <tbody>
                @if(PlayerList == null)
                {
                    <tr>
                        <td>Er zijn nog geen spelers ingeschreven in het toernooi.</td>
                    </tr>
                }
                else
                {
                    foreach(var player in PlayerList)
                    {
                        <tr>
                            <td>@player.Name</td>
                        </tr>
                    }
                }
            <tr class="table-primary">
                <td><center><button class="btn btn-primary btn-sm" @onclick="OnAddClick">Toevoegen</button></center></td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public IEnumerable<Player> PlayerList { get; set; }

    [Parameter]
    public EventCallback OnAddClick { get; set; }
}
